@import "../../../styles/base.css";
.search {
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans";
  background-color: var(--main-color);
}

.searchBar {
  margin-top: 75px;
}

/*.search h1 {
  margin-top: 50px;

  font-family: 'Open Sans', sans;
  font-weight: lighter;
  font-size: 1.25em;
}*/
