:root {
    /* Colour Scheme */
    --main-color: #3081E8;
    --accent: #FFAB22;
    --white: #ffffff;
    --grey: #263344;
    /* Fonts */
    /* Bree Serif */
    /* Open Serif */
    /* Constants */
}
