@import "../../../styles/base.css";

tr:nth-child(even) {

}
table {
    font-family: "Open Sans";
    font-size: 0.8em;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
    margin: 0;
}

th{
  text-align: center;
}

.title{

}

.releaseDate{

}

.revenue{
  text-align: right;
}

.rating{
  text-align: right;
}

td, th {
    border: 1px solid #dddddd;
    padding: 3px;
}

tr:nth-child(even) {
    background-color: #ffedcd;
}
