@import "../../styles/base.css";

.sidebar {
  background: var(--white);
  width: 50%;
}

.sidebar h1{
  font-size: 1.4em;
  font-family: "Bree Serif";
  padding: 3px;
}

.sidebar ul{
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans";
}
