@import "../../styles/base.css";

.sidebar {
  flex: 1;

  background: var(--white);
  height: 100%;
}

.sidebar h1{
  font-size: 1.4em;
  font-family: "Bree Serif";
  text-align: center;
  padding: 3px;
}

.sidebar ul{
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans";
}
