@import "../../styles/base.css";

.sidebar {
  position: absolute;
  top: 15 px;
  width: 100%;

  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100%;*/
  background-color: var(--main-color);
}

.sidebar ul{
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans";
}

.sidebar h1{
  font-size: 2.4em;
  font-family: "Bree Serif";
  padding: 10px 0px;
  color: white;
  text-align: center;
  font-weight:lighter;
}

.sidebarContent{
  width: 70%;
  padding: 20px;
}
